
{
    font-family: "Inter", sans-serif !important;
}

body {
    background: url('https://img.freepik.com/photos-premium/fond-noir-clavier-touches-fond-noir_270292-1168.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    color: white;
    position: relative;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px);
    padding: 20px;
    background: rgba(20, 20, 30, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 80px;
    transition: transform 0.3s ease-in-out;
}

.chatbot-container:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.12);
}


.chatbox {
    width: 90%;
    max-width: 600px;
    height: 70vh;
    overflow-y: auto;
    border-radius: 10px;
    padding: 15px;
    background: rgba(20, 20, 30, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    color: white;
}

.user {
    align-self: flex-end;
    background-color: dodgerblue;
}


.bot {
    align-self: flex-start;
    background-color: dimgrey;
}


.input-area {
    display: flex;
    width: 90%;
    max-width: 600px;
    margin-top: 10px;
}



input {
    flex-grow: 1;
    padding: 12px;
    margin: 15px 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    text-align: left;
    transition: background 0.3s ease-in-out, border-color 0.3s;
}


input:focus {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    outline: none;
}


button {
    /width: 100%;
    margin-left: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    color: red;
    border: 2px dashed green;
    transition: all 0.3s ease-in-out;
}


button:hover {
    background: rgba(255, 255, 255, 0.2);
}


button:disabled {
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.7;
    cursor: not-allowed;
}


.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}