
.custom-navbar {
    background-color: #111 !important;
    padding: 15px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    margin-left: 0;
}


.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.nav-link, .logout-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: white !important;
    padding: 10px 16px;
    border: 2px solid white;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover, .logout-link:hover {
    background-color: white;
    color: black !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}


.icon-top {
    font-size: 22px;
    margin-bottom: 5px;
}


.icon-left {
    font-size: 18px;
    margin-right: 8px;
}


@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 20px;
    }

    .nav-link, .logout-link {
        justify-content: center;
        width: 100%;
    }
}
